body, html { margin: 0; width: 100%; min-height: 100%; }

/* DISPLAY */

.hide, .d-hide { display: none; }

.no-flex, .d-no-flex { --display: initial; }
div, body, .flex     { --display: flex; flex-direction: column; }
div, body { display: var(--display); }

.grid2,  .d-grid2  { --display: grid; grid-template-columns: 50% 50%; }
.grid3,  .d-grid3  { --display: grid; grid-template-columns: 33% 33% 33%; }
.grid4,  .d-grid4  { --display: grid; grid-template-columns: 25% 25% 25% 25%; }
.grid5,  .d-grid5  { --display: grid; grid-template-columns: 20% 20% 20% 20% 20%; }
.grid6,  .d-grid6  { --display: grid; grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; }
.grid7,  .d-grid7  { --display: grid; grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%; }
.grid8,  .d-grid8  { --display: grid; grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; }
.grid9,  .d-grid9  { --display: grid; grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%; }
.grid10, .d-grid10 { --display: grid; grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }

/* DIRECTION */

.horizontal, .h, .d-horizontal, .d-h { flex-direction: row; }
.vertical,   .v, .d-vertical,   .d-v { flex-direction: column; }

/* JUSTIFICATION */

.jc-start,   .d-jc-start   { justify-content: flex-start;    }
.jc-end,     .d-jc-end     { justify-content: flex-end;      }
.jc-center,  .d-jc-center  { justify-content: center;        }
.jc-between, .d-jc-between { justify-content: space-between; }
.jc-evenly,  .d-jc-evenly  { justify-content: space-evenly;  }

/* ALIGNMENT */

.ac-start,   .d-ac-start    { align-content: flex-start; }
.ac-end,     .d-ac-end      { align-content: flex-end;   }
.ac-center,  .d-ac-center   { align-content: center;     }
.ac-stretch, .d-ac-stretch  { align-content: stretch;    }
.ac-evenly,  .d-ac-baseline { align-content: baseline;   }

.ai-start,   .d-ai-start   { align-items: flex-start;    }
.ai-end,     .d-ai-end     { align-items: flex-end;      }
.ai-center,  .d-ai-center  { align-items: center;        }
.ai-stretch, .d-ai-stretch { align-items: stretch;       }
.ai-between, .d-ai-between { align-items: space-between; }
.ai-evenly,  .d-ai-evenly  { align-items: space-evenly;  }

.as-start,   .d-as-start    { align-self: flex-start; }
.as-end,     .d-as-end      { align-self: flex-end;   }
.as-center,  .d-as-center   { align-self: center;     }
.as-stretch, .d-as-stretch  { align-self: stretch;    }
.as-evenly,  .d-as-baseline { align-self: baseline;   }

.jt-start,
.d-jt-start,
.items-jt-start   > *,
.d-items-jt-start > * { text-align: start; }

.jt-center,
.d-jt-center,
.items-jt-center   > *,
.d-items-jt-center > * { text-align: center; }

.jt-end,
.d-jt-end,
.items-jt-end   > *,
.d-items-jt-end > * { text-align: end; }

/* SIZE */

.grow,
.d-grow,
.items-grow   > :not(.no-grow):not(.d-no-grow),
.d-items-grow > :not(.no-grow):not(.d-no-grow) { flex-grow: 1;  flex-basis: 100%; }

.shrink,
.d-shrink,
.items-shrink   > :not(.no-shrink):not(.d-no-shrink),
.d-items-shrink > :not(.no-shrink):not(.d-no-shrink) { flex-shrink: 1; }

/* MARGIN AND PADDING */

.p1, .d-p1 { padding: var(--b1-bank); }
.p2, .d-p2 { padding: var(--b2-bank); }
.p3, .d-p3 { padding: var(--b3-bank); }
.p4, .d-p4 { padding: var(--b4-bank); }

.m1, .d-m1 { margin: var(--b1-bank); }
.m2, .d-m2 { margin: var(--b2-bank); }
.m3, .d-m3 { margin: var(--b3-bank); }
.m4, .d-m4 { margin: var(--b4-bank); }

.frame1, .d-frame1 { padding: var(--b1-bank) 0 0 var(--b1-bank); }
.frame1 > *, .d-frame1 > * { margin: 0 var(--b1-bank) var(--b1-bank) 0; }

.frame2, .d-frame2 { padding: var(--b2-bank) 0 0 var(--b2-bank); }
.frame2 > *, .d-frame2 > * { margin: 0 var(--b2-bank) var(--b2-bank) 0; }

.frame3, .d-frame3 { padding: var(--b3-bank) 0 0 var(--b3-bank); }
.frame3 > *, .d-frame3 > * { margin: 0 var(--b3-bank) var(--b3-bank) 0; }

.frame4, .d-frame4 { padding: var(--b4-bank) 0 0 var(--b4-bank); }
.frame4 > *, .d-frame4 > * { margin: 0 var(--b4-bank) var(--b4-bank) 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

/* THEME */

body,
.th1, .d-th1 { --bg: var(--theme-1-bg); --fg: var(--theme-1-fg); --bc: var(--theme-1-bc); --hbg: var(--theme-1-hbg); --hfg: var(--theme-1-hfg); }
.th2, .d-th2 { --bg: var(--theme-2-bg); --fg: var(--theme-2-fg); --bc: var(--theme-2-bc); --hbg: var(--theme-2-hbg); --hfg: var(--theme-2-hfg); }
.th3, .d-th3 { --bg: var(--theme-3-bg); --fg: var(--theme-3-fg); --bc: var(--theme-3-bc); --hbg: var(--theme-3-hbg); --hfg: var(--theme-3-hfg); }
.th4, .d-th4 { --bg: var(--theme-4-bg); --fg: var(--theme-4-fg); --bc: var(--theme-4-bc); --hbg: var(--theme-4-hbg); --hfg: var(--theme-4-hfg); }
.th5, .d-th5 { --bg: var(--theme-5-bg); --fg: var(--theme-5-fg); --bc: var(--theme-5-bc); --hbg: var(--theme-5-hbg); --hfg: var(--theme-5-hfg); }
.th6, .d-th6 { --bg: var(--theme-6-bg); --fg: var(--theme-6-fg); --bc: var(--theme-6-bc); --hbg: var(--theme-6-hbg); --hfg: var(--theme-6-hfg); }
.th7, .d-th7 { --bg: var(--theme-7-bg); --fg: var(--theme-7-fg); --bc: var(--theme-7-bc); --hbg: var(--theme-7-hbg); --hfg: var(--theme-7-hfg); }
.th8, .d-th8 { --bg: var(--theme-8-bg); --fg: var(--theme-8-fg); --bc: var(--theme-8-bc); --hbg: var(--theme-8-hbg); --hfg: var(--theme-8-hfg); }

.bg, .d-bg { background-color: var(--bg); }
.fg, .d-fg { color: var(--fg); }

.hover:hover, .d-hover:hover {
	background-color: var(--hbg);
	color: var(--hfg);
}

/* BORDER */

.o-hide, .d-o-hide { overflow: hidden; }

.b1, .d-b1               { border:        var(--b1-bank) solid var(--bc); }
.b2, .d-b2               { border:        var(--b2-bank) solid var(--bc); }
.b3, .d-b3               { border:        var(--b3-bank) solid var(--bc); }
.b4, .d-b4               { border:        var(--b4-bank) solid var(--bc); }

.b1-top,     .d-b1-top   { border-top:    var(--b1-bank) solid var(--bc); }
.b2-top,     .d-b2-top   { border-top:    var(--b2-bank) solid var(--bc); }
.b3-top,     .d-b3-top   { border-top:    var(--b3-bank) solid var(--bc); }
.b4-top,     .d-b4-top   { border-top:    var(--b4-bank) solid var(--bc); }

.b1-bottom, .d-b1-bottom { border-bottom: var(--b1-bank) solid var(--bc); }
.b2-bottom, .d-b2-bottom { border-bottom: var(--b2-bank) solid var(--bc); }
.b3-bottom, .d-b3-bottom { border-bottom: var(--b3-bank) solid var(--bc); }
.b4-bottom, .d-b4-bottom { border-bottom: var(--b4-bank) solid var(--bc); }

.b1-left,   .d-b1-left   { border-left:   var(--b1-bank) solid var(--bc); }
.b2-left,   .d-b2-left   { border-left:   var(--b2-bank) solid var(--bc); }
.b3-left,   .d-b3-left   { border-left:   var(--b3-bank) solid var(--bc); }
.b4-left,   .d-b4-left   { border-left:   var(--b4-bank) solid var(--bc); }

.b1-right,  .d-b1-right  { border-right:  var(--b1-bank) solid var(--bc); }
.b2-right,  .d-b2-right  { border-right:  var(--b2-bank) solid var(--bc); }
.b3-right,  .d-b3-right  { border-right:  var(--b3-bank) solid var(--bc); }
.b4-right,  .d-b4-right  { border-right:  var(--b4-bank) solid var(--bc); }

.r1, .d-r1 { border-radius: var(--b1-bank); }
.r2, .d-r2 { border-radius: var(--b2-bank); }
.r3, .d-r3 { border-radius: var(--b3-bank); }
.r4, .d-r4 { border-radius: var(--b4-bank); }

/* SIZE VARIABLES */

.b1-1px,  .d-b1-1px  { --b1-bank:   1px; }
.b1-5px,  .d-b1-5px  { --b1-bank:   5px; }
.b1-10px, .d-b1-10px { --b1-bank:  10px; }
.b1-05em, .d-b1-05em { --b1-bank: 0.5em; }
.b1-1em,  .d-b1-1em  { --b1-bank:   1em; }
.b1-2em,  .d-b1-2em  { --b1-bank:   2em; }
.b1-3em,  .d-b1-3em  { --b1-bank:   3em; }
.b1-4em,  .d-b1-4em  { --b1-bank:   4em; }
.b1-5em,  .d-b1-5em  { --b1-bank:   5em; }

.b2-1px,  .d-b2-1px  { --b2-bank:   1px; }
.b2-5px,  .d-b2-5px  { --b2-bank:   5px; }
.b2-10px, .d-b2-10px { --b2-bank:  10px; }
.b2-05em, .d-b2-05em { --b2-bank: 0.5em; }
.b2-1em,  .d-b2-1em  { --b2-bank:   1em; }
.b2-2em,  .d-b2-2em  { --b2-bank:   2em; }
.b2-3em,  .d-b2-3em  { --b2-bank:   3em; }
.b2-4em,  .d-b2-4em  { --b2-bank:   4em; }
.b2-5em,  .d-b2-5em  { --b2-bank:   5em; }

.b3-1px,  .d-b3-1px  { --b3-bank:   1px; }
.b3-5px,  .d-b3-5px  { --b3-bank:   5px; }
.b3-10px, .d-b3-10px { --b3-bank:  10px; }
.b3-05em, .d-b3-05em { --b3-bank: 0.5em; }
.b3-1em,  .d-b3-1em  { --b3-bank:   1em; }
.b3-2em,  .d-b3-2em  { --b3-bank:   2em; }
.b3-3em,  .d-b3-3em  { --b3-bank:   3em; }
.b3-4em,  .d-b3-4em  { --b3-bank:   4em; }
.b3-5em,  .d-b3-5em  { --b3-bank:   5em; }

.b4-1px,  .d-b4-1px  { --b4-bank:   1px; }
.b4-5px,  .d-b4-5px  { --b4-bank:   5px; }
.b4-10px, .d-b4-10px { --b4-bank:  10px; }
.b4-05em, .d-b4-05em { --b4-bank: 0.5em; }
.b4-1em,  .d-b4-1em  { --b4-bank:   1em; }
.b4-2em,  .d-b4-2em  { --b4-bank:   2em; }
.b4-3em,  .d-b4-3em  { --b4-bank:   3em; }
.b4-4em,  .d-b4-4em  { --b4-bank:   4em; }
.b4-5em,  .d-b4-5em  { --b4-bank:   5em; }