body, html { margin: 0; width: 100%; min-height: 100%; }

/* DISPLAY */

.hide, .m-hide { display: none; }

.no-flex, .m-no-flex { --display: initial; }
div, body, .flex     { --display: flex; flex-direction: column; }
div, body { display: var(--display); }

.grid2,  .m-grid2  { --display: grid; grid-template-columns: 50% 50%; }
.grid3,  .m-grid3  { --display: grid; grid-template-columns: 33% 33% 33%; }
.grid4,  .m-grid4  { --display: grid; grid-template-columns: 25% 25% 25% 25%; }
.grid5,  .m-grid5  { --display: grid; grid-template-columns: 20% 20% 20% 20% 20%; }
.grid6,  .m-grid6  { --display: grid; grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%; }
.grid7,  .m-grid7  { --display: grid; grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%; }
.grid8,  .m-grid8  { --display: grid; grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; }
.grid9,  .m-grid9  { --display: grid; grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%; }
.grid10, .m-grid10 { --display: grid; grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%; }

/* DIRECTION */

.horizontal, .h, .m-horizontal, .m-h { flex-direction: row; }
.vertical,   .v, .m-vertical,   .m-v { flex-direction: column; }

/* JUSTIFICATION */

.jc-start,   .m-jc-start   { justify-content: flex-start;    }
.jc-end,     .m-jc-end     { justify-content: flex-end;      }
.jc-center,  .m-jc-center  { justify-content: center;        }
.jc-between, .m-jc-between { justify-content: space-between; }
.jc-evenly,  .m-jc-evenly  { justify-content: space-evenly;  }

/* ALIGNMENT */

.ac-start,   .m-ac-start    { align-content: flex-start; }
.ac-end,     .m-ac-end      { align-content: flex-end;   }
.ac-center,  .m-ac-center   { align-content: center;     }
.ac-stretch, .m-ac-stretch  { align-content: stretch;    }
.ac-evenly,  .m-ac-baseline { align-content: baseline;   }

.ai-start,   .m-ai-start   { align-items: flex-start;    }
.ai-end,     .m-ai-end     { align-items: flex-end;      }
.ai-center,  .m-ai-center  { align-items: center;        }
.ai-stretch, .m-ai-stretch { align-items: stretch;       }
.ai-between, .m-ai-between { align-items: space-between; }
.ai-evenly,  .m-ai-evenly  { align-items: space-evenly;  }

.as-start,   .m-as-start    { align-self: flex-start; }
.as-end,     .m-as-end      { align-self: flex-end;   }
.as-center,  .m-as-center   { align-self: center;     }
.as-stretch, .m-as-stretch  { align-self: stretch;    }
.as-evenly,  .m-as-baseline { align-self: baseline;   }

.jt-start,
.m-jt-start,
.items-jt-start   > *,
.m-items-jt-start > * { text-align: start; }

.jt-center,
.m-jt-center,
.items-jt-center   > *,
.m-items-jt-center > * { text-align: center; }

.jt-end,
.m-jt-end,
.items-jt-end   > *,
.m-items-jt-end > * { text-align: end; }

/* SIZE */

.grow,
.m-grow,
.items-grow   > :not(.no-grow):not(.m-no-grow),
.m-items-grow > :not(.no-grow):not(.m-no-grow) { flex-grow: 1;  flex-basis: 100%; }

.shrink,
.m-shrink,
.items-shrink   > :not(.no-shrink):not(.m-no-shrink),
.m-items-shrink > :not(.no-shrink):not(.m-no-shrink) { flex-shrink: 1; }

/* MARGIN AND PADDING */

.p1, .m-p1 { padding: var(--b1-bank); }
.p2, .m-p2 { padding: var(--b2-bank); }
.p3, .m-p3 { padding: var(--b3-bank); }
.p4, .m-p4 { padding: var(--b4-bank); }

.m1, .m-m1 { margin: var(--b1-bank); }
.m2, .m-m2 { margin: var(--b2-bank); }
.m3, .m-m3 { margin: var(--b3-bank); }
.m4, .m-m4 { margin: var(--b4-bank); }

.frame1, .m-frame1 { padding: var(--b1-bank) 0 0 var(--b1-bank); }
.frame1 > *, .m-frame1 > * { margin: 0 var(--b1-bank) var(--b1-bank) 0; }

.frame2, .m-frame2 { padding: var(--b2-bank) 0 0 var(--b2-bank); }
.frame2 > *, .m-frame2 > * { margin: 0 var(--b2-bank) var(--b2-bank) 0; }

.frame3, .m-frame3 { padding: var(--b3-bank) 0 0 var(--b3-bank); }
.frame3 > *, .m-frame3 > * { margin: 0 var(--b3-bank) var(--b3-bank) 0; }

.frame4, .m-frame4 { padding: var(--b4-bank) 0 0 var(--b4-bank); }
.frame4 > *, .m-frame4 > * { margin: 0 var(--b4-bank) var(--b4-bank) 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

/* THEME */

body,
.th1, .m-th1 { --bg: var(--theme-1-bg); --fg: var(--theme-1-fg); --bc: var(--theme-1-bc); --hbg: var(--theme-1-hbg); --hfg: var(--theme-1-hfg); }
.th2, .m-th2 { --bg: var(--theme-2-bg); --fg: var(--theme-2-fg); --bc: var(--theme-2-bc); --hbg: var(--theme-2-hbg); --hfg: var(--theme-2-hfg); }
.th3, .m-th3 { --bg: var(--theme-3-bg); --fg: var(--theme-3-fg); --bc: var(--theme-3-bc); --hbg: var(--theme-3-hbg); --hfg: var(--theme-3-hfg); }
.th4, .m-th4 { --bg: var(--theme-4-bg); --fg: var(--theme-4-fg); --bc: var(--theme-4-bc); --hbg: var(--theme-4-hbg); --hfg: var(--theme-4-hfg); }
.th5, .m-th5 { --bg: var(--theme-5-bg); --fg: var(--theme-5-fg); --bc: var(--theme-5-bc); --hbg: var(--theme-5-hbg); --hfg: var(--theme-5-hfg); }
.th6, .m-th6 { --bg: var(--theme-6-bg); --fg: var(--theme-6-fg); --bc: var(--theme-6-bc); --hbg: var(--theme-6-hbg); --hfg: var(--theme-6-hfg); }
.th7, .m-th7 { --bg: var(--theme-7-bg); --fg: var(--theme-7-fg); --bc: var(--theme-7-bc); --hbg: var(--theme-7-hbg); --hfg: var(--theme-7-hfg); }
.th8, .m-th8 { --bg: var(--theme-8-bg); --fg: var(--theme-8-fg); --bc: var(--theme-8-bc); --hbg: var(--theme-8-hbg); --hfg: var(--theme-8-hfg); }

.bg, .m-bg { background-color: var(--bg); }
.fg, .m-fg { color: var(--fg); }

.hover:hover, .m-hover:hover {
	background-color: var(--hbg);
	color: var(--hfg);
}

/* BORDER */

.o-hide, .m-o-hide { overflow: hidden; }

.b1, .m-b1               { border:        var(--b1-bank) solid var(--bc); }
.b2, .m-b2               { border:        var(--b2-bank) solid var(--bc); }
.b3, .m-b3               { border:        var(--b3-bank) solid var(--bc); }
.b4, .m-b4               { border:        var(--b4-bank) solid var(--bc); }

.b1-top,     .m-b1-top   { border-top:    var(--b1-bank) solid var(--bc); }
.b2-top,     .m-b2-top   { border-top:    var(--b2-bank) solid var(--bc); }
.b3-top,     .m-b3-top   { border-top:    var(--b3-bank) solid var(--bc); }
.b4-top,     .m-b4-top   { border-top:    var(--b4-bank) solid var(--bc); }

.b1-bottom, .m-b1-bottom { border-bottom: var(--b1-bank) solid var(--bc); }
.b2-bottom, .m-b2-bottom { border-bottom: var(--b2-bank) solid var(--bc); }
.b3-bottom, .m-b3-bottom { border-bottom: var(--b3-bank) solid var(--bc); }
.b4-bottom, .m-b4-bottom { border-bottom: var(--b4-bank) solid var(--bc); }

.b1-left,   .m-b1-left   { border-left:   var(--b1-bank) solid var(--bc); }
.b2-left,   .m-b2-left   { border-left:   var(--b2-bank) solid var(--bc); }
.b3-left,   .m-b3-left   { border-left:   var(--b3-bank) solid var(--bc); }
.b4-left,   .m-b4-left   { border-left:   var(--b4-bank) solid var(--bc); }

.b1-right,  .m-b1-right  { border-right:  var(--b1-bank) solid var(--bc); }
.b2-right,  .m-b2-right  { border-right:  var(--b2-bank) solid var(--bc); }
.b3-right,  .m-b3-right  { border-right:  var(--b3-bank) solid var(--bc); }
.b4-right,  .m-b4-right  { border-right:  var(--b4-bank) solid var(--bc); }

.r1, .m-r1 { border-radius: var(--b1-bank); }
.r2, .m-r2 { border-radius: var(--b2-bank); }
.r3, .m-r3 { border-radius: var(--b3-bank); }
.r4, .m-r4 { border-radius: var(--b4-bank); }

/* SIZE VARIABLES */

.b1-1px,  .m-b1-1px  { --b1-bank:   1px; }
.b1-5px,  .m-b1-5px  { --b1-bank:   5px; }
.b1-10px, .m-b1-10px { --b1-bank:  10px; }
.b1-05em, .m-b1-05em { --b1-bank: 0.5em; }
.b1-1em,  .m-b1-1em  { --b1-bank:   1em; }
.b1-2em,  .m-b1-2em  { --b1-bank:   2em; }
.b1-3em,  .m-b1-3em  { --b1-bank:   3em; }
.b1-4em,  .m-b1-4em  { --b1-bank:   4em; }
.b1-5em,  .m-b1-5em  { --b1-bank:   5em; }

.b2-1px,  .m-b2-1px  { --b2-bank:   1px; }
.b2-5px,  .m-b2-5px  { --b2-bank:   5px; }
.b2-10px, .m-b2-10px { --b2-bank:  10px; }
.b2-05em, .m-b2-05em { --b2-bank: 0.5em; }
.b2-1em,  .m-b2-1em  { --b2-bank:   1em; }
.b2-2em,  .m-b2-2em  { --b2-bank:   2em; }
.b2-3em,  .m-b2-3em  { --b2-bank:   3em; }
.b2-4em,  .m-b2-4em  { --b2-bank:   4em; }
.b2-5em,  .m-b2-5em  { --b2-bank:   5em; }

.b3-1px,  .m-b3-1px  { --b3-bank:   1px; }
.b3-5px,  .m-b3-5px  { --b3-bank:   5px; }
.b3-10px, .m-b3-10px { --b3-bank:  10px; }
.b3-05em, .m-b3-05em { --b3-bank: 0.5em; }
.b3-1em,  .m-b3-1em  { --b3-bank:   1em; }
.b3-2em,  .m-b3-2em  { --b3-bank:   2em; }
.b3-3em,  .m-b3-3em  { --b3-bank:   3em; }
.b3-4em,  .m-b3-4em  { --b3-bank:   4em; }
.b3-5em,  .m-b3-5em  { --b3-bank:   5em; }

.b4-1px,  .m-b4-1px  { --b4-bank:   1px; }
.b4-5px,  .m-b4-5px  { --b4-bank:   5px; }
.b4-10px, .m-b4-10px { --b4-bank:  10px; }
.b4-05em, .m-b4-05em { --b4-bank: 0.5em; }
.b4-1em,  .m-b4-1em  { --b4-bank:   1em; }
.b4-2em,  .m-b4-2em  { --b4-bank:   2em; }
.b4-3em,  .m-b4-3em  { --b4-bank:   3em; }
.b4-4em,  .m-b4-4em  { --b4-bank:   4em; }
.b4-5em,  .m-b4-5em  { --b4-bank:   5em; }