body {
	font-family: sans-serif;

	--theme-1-bg: #1E1E1E;
	--theme-1-fg: #eed;
	--theme-1-bc: #999;
	--theme-1-hbg: #9bd4c6;
	--theme-1-hfg: #1E1E1E;

	--theme-2-bg: #333;
	--theme-2-fg: #eed;
	--theme-2-bc: #777;
	--theme-2-hbg: #3a3;
	--theme-2-hfg: #333;
}